@model BLL.App.DTO.Address

<div class="form-group">
    <label asp-for="City" class="control-label"></label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Region" class="control-label"></label>
    <input asp-for="Region" class="form-control" />
    <span asp-validation-for="Region" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ServiceProvider" class="control-label"></label>
    <input asp-for="ServiceProvider" class="form-control" />
    <span asp-validation-for="ServiceProvider" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MachineLocation" class="control-label"></label>
    <input asp-for="MachineLocation" class="form-control" />
    <span asp-validation-for="MachineLocation" class="text-danger"></span>
</div>